@media only screen and (max-width: 600px) {
    body {
        font-size: 14px; /* Reduce font size on small screens */
    }
  
    h1.center_text {
        font-size: 24px; /* Slightly smaller heading on mobile */
    }
  
    p.center_text {
        font-size: 6px; /* Reduce paragraph text size */
    }
  
    ul.right li {
        font-size: 13px; /* Reduce list item size */
    }
  
    .card {
  font-size: 12px; /* Adjust button text size */
    }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 40%; /* Ensure the images take up the full width */
    height: auto;
  }
  .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 25%; /* Ensure the images take up the full width */
    height: 25%;
  }
  }